In [35]:
import findspark
findspark.init()

In [36]:
spark_url = 'local'

In [37]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [38]:
spark = SparkSession.builder\
        .master(spark_url)\
        .appName('Spark AirBnB')\
        .getOrCreate()

In [39]:
sc = spark.sparkContext
spark

In [40]:
sc

In [41]:
path = 'airbnb_data.csv'
df = spark.read.option("delimiter", ",").option("header", True).csv(path)

In [42]:
df.show()

+-------+--------------------+-----------+---------+-------------------+------------------+---------------+-----------------+-----+-----------+--------------+-----------------+-----------------+----------------+
|     id|                NAME|    host id|host name|neighbourhood group|     neighbourhood|      room type|Construction year|price|service fee|minimum nights|number of reviews|reviews per month|availability 365|
+-------+--------------------+-----------+---------+-------------------+------------------+---------------+-----------------+-----+-----------+--------------+-----------------+-----------------+----------------+
|1001254|Clean & quiet apt...|80014485718| Madaline|           Brooklyn|        Kensington|   Private room|             2020|  966|        193|            10|                9|             0.21|             286|
|1002102|Skylit Midtown Ca...|52335172823|    Jenna|          Manhattan|           Midtown|Entire home/apt|             2007|  142|         28|            30|               45|             0.38|             228|
|1003689|Entire Apt: Spaci...|92037596077|   Lyndon|          Manhattan|       East Harlem|Entire home/apt|             2009|  204|         41|            10|                9|              0.1|             289|
|1004098|Large Cozy 1 BR A...|45498551794| Michelle|          Manhattan|       Murray Hill|Entire home/apt|             2013|  577|        115|             3|               74|             0.59|             374|
|1004650|     BlissArtsSpace!|61300605564|  Alberta|           Brooklyn|Bedford-Stuyvesant|   Private room|             2015|   71|         14|            45|               49|              0.4|             224|
|1005202|     BlissArtsSpace!|90821839709|     Emma|           Brooklyn|Bedford-Stuyvesant|   Private room|             2009| 1060|        212|            45|               49|              0.4|             219|
|1005754|Large Furnished R...|79384379533|   Evelyn|          Manhattan|    Hell's Kitchen|   Private room|             2005| 1018|        204|             2|              430|             3.47|             180|
|1006307|Cozy Clean Guest ...|75527839483|     Carl|          Manhattan|   Upper West Side|   Private room|             2015|  291|         58|             2|              118|             0.99|             375|
|1006859|Cute & Cozy Lower...| 1280143094|  Miranda|          Manhattan|         Chinatown|Entire home/apt|             2004|  319|         64|             1|              160|             1.33|               1|
|1007411|Beautiful 1br on ...|18824631834|     Alan|          Manhattan|   Upper West Side|Entire home/apt|             2008|  606|        121|             5|               53|             0.43|             163|
|1008516|Lovely Room 1, Ga...|26802410424|    Darcy|            brookln|       South Slope|   Private room|             2010|  580|        116|             4|              167|             1.34|              47|
|1009068|Wonderful Guest B...|88920244552| Leonardo|          Manhattan|   Upper West Side|   Private room|             2019|  149|         30|             2|              113|             0.91|              68|
|1012934|Sweet and Spaciou...|86554611512|   Alissa|           Brooklyn|      Williamsburg|Entire home/apt|             2016|  477|         95|             3|                9|             0.07|             193|
|1013487|CBG CtyBGd HelpsH...|53754237010|     Mary|           Brooklyn|        Park Slope|   Private room|             2013|  133|         27|             2|              130|             1.09|              54|
|1014039|CBG Helps Haiti R...|87668933180|  William|           Brooklyn|        Park Slope|   Private room|             2017| 1050|        210|             1|               39|             0.37|               9|
|1014591|CBG Helps Haiti R...|57827496420|Charlotte|           Brooklyn|        Park Slope|   Private room|             2005|  816|        163|             2|               71|             0.61|             344|
|1015144|MAISON DES SIRENE...|48387947293|  Miranda|           Brooklyn|Bedford-Stuyvesant|Entire home/apt|             2006| 1175|        235|             2|               88|             0.73|             372|
|1015696|Sunny Bedroom Acr...|81686279636|   Carlos|           Brooklyn|   Windsor Terrace|   Private room|             2021|  530|        106|             1|               19|             1.37|             344|
|1016800|Midtown Pied-a-terre|19382804591|   Andrew|          Manhattan|    Hell's Kitchen|Entire home/apt|             2016|  209|         42|            10|               58|             0.49|             103|
|1017353|SPACIOUS, LOVELY ...|51449163855|    Daryl|          Manhattan|            Inwood|   Private room|             2021|  432|         86|             3|              108|             1.11|             172|
+-------+--------------------+-----------+---------+-------------------+------------------+---------------+-----------------+-----+-----------+--------------+-----------------+-----------------+----------------+
only showing top 20 rows

In [43]:
df.columns

['id',
 'NAME',
 'host id',
 'host name',
 'neighbourhood group',
 'neighbourhood',
 'room type',
 'Construction year',
 'price',
 'service fee',
 'minimum nights',
 'number of reviews',
 'reviews per month',
 'availability 365']

# 3(a)	How many rooms are there in this dataset?

In [44]:
df.count()

85040

# 3(b)	Calculate average service_fee

In [47]:
from pyspark.sql.functions import avg, min, max, countDistinct

df['service fee']
df.agg(avg("service fee").alias("avg service fee")).collect()[0][0]

125.21674506114769

# 3(c)	How many rooms are the most expensive price?

In [57]:
max_price = df.agg(max("price").alias("price")).collect()[0][0]
df.filter(df.price == max_price).count()

55

# 3(d)	Which neighbourhood_group that has the most listings?

In [58]:
df.groupby("neighbourhood group").count().show()

+-------------------+-----+
|neighbourhood group|count|
+-------------------+-----+
|             Queens|11318|
|           Brooklyn|35289|
|      Staten Island|  835|
|            brookln|    1|
|          Manhattan|35271|
|              Bronx| 2326|
+-------------------+-----+